---
    import BaseLayout from "../../../layouts/BaseLayout.astro";
    import TimeLineElement from "../../../components/cv/TimeLine.astro";
    ---
    
    <BaseLayout title="Resume" sideBarActiveItemID="cv">
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">Note</div>
      </div>
    
      <div class="time-line-container mb-10">
        <TimeLineElement
          title="2010-10"
        >
               <li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/2010-10-01(狗)">2010-10-01(狗)</a></li>
<li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/2010-10-01(房东们)">2010-10-01(房东们)</a></li>
<li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/2010-10-01(小计)">2010-10-01(小计)</a></li>
<li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/2010-10-01(6年前写的)">2010-10-01(6年前写的)</a></li>
    
        </TimeLineElement>
      </div>
    </BaseLayout>
    