---
    import BaseLayout from "../../../layouts/BaseLayout.astro";
    import TimeLineElement from "../../../components/cv/TimeLine.astro";
    ---

    <BaseLayout title="notes">
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">笔记</div>
      </div>

      <div class="time-line-container mb-10">
        <TimeLineElement
          title="2024-07"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/408-数据结构">408-数据结构</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2024-06"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/strava快捷指令自动化方案">strava快捷指令自动化方案</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/java-interview">java-interview</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2024-05"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/ffmpeg用法">ffmpeg用法</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/教宗背诵默写点">教宗背诵默写点</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/教资科目二思维导图">教资科目二思维导图</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2024-04"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/./src/content/note\how-to-use-playwright">./src/content/note\how-to-use-playwright</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/keystatic写作接入Astro">keystatic写作接入Astro</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2024-03"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/教资科目二">教资科目二</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/linux">linux</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/nginx">nginx</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/Docker">Docker</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2024-02"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/python-remark">python-remark</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2024-01"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/./src/content/note\利用WSA保存到Google相册">./src/content/note\利用WSA保存到Google相册</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/JUC">JUC</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/How-to-use-Charles">How-to-use-Charles</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/ThreadLocal">ThreadLocal</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/python打包exe">python打包exe</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/计划任务-每日拍照">计划任务-每日拍照</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/Cloudflare用处">Cloudflare用处</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/immich相册备份工具">immich相册备份工具</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/bili总结助手-Gemini">bili总结助手-Gemini</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/数据结构">数据结构</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2023-12"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/Java集合框架">Java集合框架</a></li>

        </TimeLineElement>
<TimeLineElement
          title="2023-11"
        >
               <li class="mt-3 mb-3"><a href="https://malanxi.top/note/教资科目一">教资科目一</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/教资科目三">教资科目三</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/教资科目二(背诵)">教资科目二(背诵)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/note/教资面试(信息的一般特征)">教资面试(信息的一般特征)</a></li>

        </TimeLineElement>
      </div>
    </BaseLayout>
    