---
    import BaseLayout from "../../../layouts/BaseLayout.astro";
    import TimeLineElement from "../../../components/cv/TimeLine.astro";
    ---
    
    <BaseLayout title="Resume" sideBarActiveItemID="cv">
      <div class="mb-5">
        <div class="text-3xl w-full font-bold">Note</div>
      </div>
    
      <div class="time-line-container mb-10">
        <TimeLineElement
          title="2024-10"
        >
               <li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/十一游记">十一游记</a></li>
<li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/assa">assa</a></li>
<li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/aa">aa</a></li>
<li class="mt-3 mb-3"><a href="https://mxz94.asia/blog/111">111</a></li>
    
        </TimeLineElement>
      </div>
    </BaseLayout>
    