.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.card-link {
    flex-basis: calc(33.3333% - 2em);
    display: block;
    text-decoration: none;
    color: inherit;
}

.card-link:hover {
    text-decoration: none;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.card {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    background-color: #fff;
}

.card-title {
    font-size: 25px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.card-text {
    color: #777;
    font-size: 15px;
}
body {
    /* 原版 */
    font-family: "LXGW WenKai", sans-serif;
    /* 屏幕优化版 */
}
/*.live-photo-container {*/
/*    width: 100%; !* 自适应宽度 *!*/
/*    aspect-ratio: 16 / 9; !* 设置宽高比为16:9，可以根据实际比例调整 *!*/
/*    object-fit: cover; !* 确保内容填满容器 *!*/
/*    background-color: black; !* 如果内容未完全填满容器，可以设置背景色 *!*/
/*}*/

/*.live-photo-container {*/
/*    width: 100%; !* 自适应父容器的宽度 *!*/
/*    height: auto; !* 高度自动调整，保持纵横比 *!*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    padding-top: 56.25%; !* 根据16:9的纵横比设置容器的高度，可以根据实际比例调整 *!*/
/*}*/

/*.live-photo-container > img,*/
/*.live-photo-container > video {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover; !* 确保内容填满容器并保持纵横比 *!*/
/*}*/
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 使父容器全宽 */
    height: 100vh; /* 父容器占据整个视口高度 */
}

/*.live-photo-container {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    aspect-ratio: 16 / 9; !* 确保视频保持16:9的比例 *!*/
/*}*/

/*.live-photo-container {*/
/*    width: 800px;*/
/*    height: 800px;*/
/*    aspect-ratio: 16 / 9; !* 确保视频保持16:9的比例 *!*/
/*}*/

.live-photo-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    min-height: 200px; /* 设置一个最小高度 */
    min-width: 800px;
}
