---
        import BaseLayout from "../../../layouts/BaseLayout.astro";
        import TimeLineElement from "../../../components/cv/TimeLine.astro";
        ---
        
        <BaseLayout title="2021">
          <div class="mb-5">
            <div class="text-3xl w-full font-bold">日记</div>
          </div>
        
          <div class="time-line-container mb-10">
            <TimeLineElement
              title="2021-12"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-27_28_30（看雪中悍刀行，去看电动车）">2021-12-27_28_30（看雪中悍刀行，去看电动车）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-25（试妆同学聚会）">2021-12-25（试妆同学聚会）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-24_25_26（试妆同学聚会）">2021-12-24_25_26（试妆同学聚会）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-19_20（产检辅j培训）">2021-12-19_20（产检辅j培训）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-14（司辅面试）">2021-12-14（司辅面试）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-11(在家做了一套题，准备面试)">2021-12-11(在家做了一套题，准备面试)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-09-10（到处跑，通知同学）">2021-12-09-10（到处跑，通知同学）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-08（翻出了老胶片）">2021-12-08（翻出了老胶片）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-04-05（出来溜达）">2021-12-04-05（出来溜达）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-12-01-02（领证）">2021-12-01-02（领证）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-11"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-28（yun检）">2021-11-28（yun检）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-21（修完车找）">2021-11-21（修完车找）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-19（体检拉家具修车）">2021-11-19（体检拉家具修车）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-13_14（拍登记照）">2021-11-13_14（拍登记照）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-12（做了一个神奇的梦）">2021-11-12（做了一个神奇的梦）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-06-07（辅警面试挑婚纱）">2021-11-06-07（辅警面试挑婚纱）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-04-05（连跑两天）">2021-11-04-05（连跑两天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-11-01（这个月努力跑步）">2021-11-01（这个月努力跑步）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-10"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-31（楂红薯）">2021-10-31（楂红薯）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-30（辅警体测）">2021-10-30（辅警体测）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-28-29（出红薯，静心，锻炼，告别）">2021-10-28-29（出红薯，静心，锻炼，告别）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-25--26（上班辞职过生日-交辅警资料）">2021-10-25--26（上班辞职过生日-交辅警资料）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-23(纠结要不要辞职去干辅警)">2021-10-23(纠结要不要辞职去干辅警)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-21-22(周四去见，周五闲聊)">2021-10-21-22(周四去见，周五闲聊)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-19（请假去事务科）---草稿">2021-10-19（请假去事务科）---草稿</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-16－17（去八中考试，去看车展）">2021-10-16－17（去八中考试，去看车展）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-15（遇事不要慌，碰车）">2021-10-15（遇事不要慌，碰车）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-14（看结婚日）">2021-10-14（看结婚日）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-11-13（和父母去看家具13号上班）">2021-10-11-13（和父母去看家具13号上班）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-10(看家具)">2021-10-10(看家具)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-05(订车)">2021-10-05(订车)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-04（泉舜买包）">2021-10-04（泉舜买包）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-03（憋屈加疏导）">2021-10-03（憋屈加疏导）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-10-01-02">2021-10-01-02</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-09"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-29（又去面试了）">2021-09-29（又去面试了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-26－27（今天去泉舜上班）">2021-09-26－27（今天去泉舜上班）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-23（总感觉今天要写点什么）">2021-09-23（总感觉今天要写点什么）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-21（中秋订婚）">2021-09-21（中秋订婚）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-19（今天和姑父去看车）">2021-09-19（今天和姑父去看车）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-13-14(周一去看车)">2021-09-13-14(周一去看车)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-12(昨晚做了一夜梦)">2021-09-12(昨晚做了一夜梦)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-11(就这8月15的月亮能圆)">2021-09-11(就这8月15的月亮能圆)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-08(从没把我的话放在心上)">2021-09-08(从没把我的话放在心上)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-04-05(订婚)">2021-09-04-05(订婚)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-02(河滩逛一逛)">2021-09-02(河滩逛一逛)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-09-01(九月第一天)">2021-09-01(九月第一天)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-08"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-30（真的很委屈）">2021-08-30（真的很委屈）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-26_28（出来溜达）">2021-08-26_28（出来溜达）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-24-25（在家的日子太舒服）">2021-08-24-25（在家的日子太舒服）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-23（出来玩）">2021-08-23（出来玩）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-18（复查视力）">2021-08-18（复查视力）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-17（夏天里最遗憾的事）">2021-08-17（夏天里最遗憾的事）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-14（今天七夕）">2021-08-14（今天七夕）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-11-13（逛河滩，治眼）">2021-08-11-13（逛河滩，治眼）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-08－09（范出成绩了）">2021-08-08－09（范出成绩了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-07（出来聚餐）">2021-08-07（出来聚餐）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-06（今天运动跑10公里）">2021-08-06（今天运动跑10公里）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-05（今天去理发捉蝉）">2021-08-05（今天去理发捉蝉）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-04（去博爱眼科看眼）">2021-08-04（去博爱眼科看眼）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-03（大早上被喊去打疫苗）">2021-08-03（大早上被喊去打疫苗）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-02（在家）">2021-08-02（在家）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-08-01（在家第四天，验视力）">2021-08-01（在家第四天，验视力）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-07"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-31（在家第三天）">2021-07-31（在家第三天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-30（在家第二天，出门开车）">2021-07-30（在家第二天，出门开车）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-29（在家第一天）">2021-07-29（在家第一天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-28（到家了）">2021-07-28（到家了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-27（打包回家）">2021-07-27（打包回家）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-26(最后一天上班)">2021-07-26(最后一天上班)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-25(周日计划去吃烤羊排)">2021-07-25(周日计划去吃烤羊排)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-24（今天周六买黄金）">2021-07-24（今天周六买黄金）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-23(今天公司聚餐吃烤羊腿)">2021-07-23(今天公司聚餐吃烤羊腿)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-22(今天已经没任务)">2021-07-22(今天已经没任务)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-18(周末休息，去吃酸菜鱼)">2021-07-18(周末休息，去吃酸菜鱼)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-17(牙齿好了起来，下午团建吃饭)">2021-07-17(牙齿好了起来，下午团建吃饭)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-13（衣服翻了）">2021-07-13（衣服翻了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-13(牙疼范病)">2021-07-13(牙疼范病)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-12(范老弟来接我)">2021-07-12(范老弟来接我)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-11(牙疼脸肿)">2021-07-11(牙疼脸肿)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-06（吃瓜吃瓜）">2021-07-06（吃瓜吃瓜）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-05(今天提了离职)">2021-07-05(今天提了离职)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-07-03(好久没联系的实习同事联系我了)">2021-07-03(好久没联系的实习同事联系我了)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-06"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-25(心)">2021-06-25(心)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-22（抢到了switch却不纠结买不买）">2021-06-22（抢到了switch却不纠结买不买）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-21(中午回家下暴雨)">2021-06-21(中午回家下暴雨)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-20(休息的一天)">2021-06-20(休息的一天)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-17(蜈支洲岛)">2021-06-17(蜈支洲岛)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-16(选片置气)">2021-06-16(选片置气)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-15(今天拍婚纱照)">2021-06-15(今天拍婚纱照)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-14(三亚)">2021-06-14(三亚)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-13(端午去三亚)">2021-06-13(端午去三亚)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-11（端午等放假）">2021-06-11（端午等放假）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-09(牙周炎疼)">2021-06-09(牙周炎疼)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-08（美甲）">2021-06-08（美甲）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-07（周一整理衣服）">2021-06-07（周一整理衣服）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-06(周末理发)">2021-06-06(周末理发)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-05(周六放假，百合花开)">2021-06-05(周六放假，百合花开)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-03(耳机到了)">2021-06-03(耳机到了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-02(约定三亚拍照)">2021-06-02(约定三亚拍照)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-06-01(错了)">2021-06-01(错了)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-05"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-27(接近一周没有记录)">2021-05-27(接近一周没有记录)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-22(周六取戒指)">2021-05-22(周六取戒指)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-20（520，-发了一个大红包）">2021-05-20（520，-发了一个大红包）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-19（今天有在努力运动）">2021-05-19（今天有在努力运动）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-17（今天范休息，买戒指）">2021-05-17（今天范休息，买戒指）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-16（干点正事）">2021-05-16（干点正事）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-14-15（教资面，生气三）">2021-05-14-15（教资面，生气三）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-12(操场大变样)">2021-05-12(操场大变样)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-08（今天提前下班，跑步特别有劲）">2021-05-08（今天提前下班，跑步特别有劲）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-07（今天有在努力运动）">2021-05-07（今天有在努力运动）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-05（劳动炸东西）">2021-05-05（劳动炸东西）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-04（哄好了）">2021-05-04（哄好了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-03(多梦的一夜)">2021-05-03(多梦的一夜)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-05-01－02(顺德之行)">2021-05-01－02(顺德之行)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-04"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-26-27（两天下班都跟晚）">2021-04-26-27（两天下班都跟晚）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-23（爷爷生日）">2021-04-23（爷爷生日）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-21，22(最近压力大，任务重)">2021-04-21，22(最近压力大，任务重)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-18（放假前踌躇满志）">2021-04-18（放假前踌躇满志）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-17（下了暗黑破坏神2）">2021-04-17（下了暗黑破坏神2）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-16（今天周五）">2021-04-16（今天周五）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-14(放宽心态加油跑步)">2021-04-14(放宽心态加油跑步)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-11(今天在家玩游戏)">2021-04-11(今天在家玩游戏)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-05（清明的最后一天）">2021-04-05（清明的最后一天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-04(吃大渔，省考出成绩)">2021-04-04(吃大渔，省考出成绩)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-03(昨天做的梦太可怕了)">2021-04-03(昨天做的梦太可怕了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-02(今天放假)">2021-04-02(今天放假)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-04-01（跑步记录）">2021-04-01（跑步记录）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-03"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-29-31（今天有在好好锻炼）">2021-03-29-31（今天有在好好锻炼）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-28(今天做了鸡爪煲)">2021-03-28(今天做了鸡爪煲)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-26(怎么融入大家呢)">2021-03-26(怎么融入大家呢)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-22(量戒指)">2021-03-22(量戒指)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-17(理发)">2021-03-17(理发)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-15-16(迪卡侬买了裤子和衬衫)">2021-03-15-16(迪卡侬买了裤子和衬衫)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-14(公务员考试)">2021-03-14(公务员考试)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-13(今天逛了婚博会)">2021-03-13(今天逛了婚博会)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-11(周四)">2021-03-11(周四)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-06(今天去见了一个朋友)">2021-03-06(今天去见了一个朋友)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-05(心情好难过)">2021-03-05(心情好难过)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-03（今天周三提前下班）">2021-03-03（今天周三提前下班）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-03-02（坚持了两天跑步）">2021-03-02（坚持了两天跑步）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-02"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-28（周末。。。。。。。。。）">2021-02-28（周末。。。。。。。。。）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-27(周六)">2021-02-27(周六)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-25(买到了很甜的西瓜)">2021-02-25(买到了很甜的西瓜)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-24(家里下雪了)">2021-02-24(家里下雪了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-21(休息，我俩一年了，晚上真不高兴)">2021-02-21(休息，我俩一年了，晚上真不高兴)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-20(周六加班)">2021-02-20(周六加班)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-19（初八）">2021-02-19（初八）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-18（初七上班有红包）">2021-02-18（初七上班有红包）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-17（初六回深圳）">2021-02-17（初六回深圳）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-16(初五)">2021-02-16(初五)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-15(初四去华山)">2021-02-15(初四去华山)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-14(今天初三)">2021-02-14(今天初三)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-13(大年初二钓鱼)">2021-02-13(大年初二钓鱼)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-12(大年初一)">2021-02-12(大年初一)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-11（放炮，去他家）">2021-02-11（放炮，去他家）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-10（阿范来我家）">2021-02-10（阿范来我家）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-09(在家的第一天)">2021-02-09(在家的第一天)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-08(回家回家)">2021-02-08(回家回家)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-07(回家前一天总有点感伤)">2021-02-07(回家前一天总有点感伤)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-06(颓废的一天)">2021-02-06(颓废的一天)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-04_05(滑板)">2021-02-04_05(滑板)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-03(吃鱼，玩滑板)">2021-02-03(吃鱼，玩滑板)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-02-01（考公，还书）">2021-02-01（考公，还书）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021-01"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-30-31（聚餐野游）">2021-01-30-31（聚餐野游）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-29（下午茶加摔炮）">2021-01-29（下午茶加摔炮）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-25（进入夏天）">2021-01-25（进入夏天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-23（繁忙周六）">2021-01-23（繁忙周六）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-17（钢铁侠）">2021-01-17（钢铁侠）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-16(公司野餐撸猫)">2021-01-16(公司野餐撸猫)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-15（规律的生活）">2021-01-15（规律的生活）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-13（不寻常的昨天）">2021-01-13（不寻常的昨天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-11（超级冷的一天）">2021-01-11（超级冷的一天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-08（周五）">2021-01-08（周五）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-07（早起喝粥）">2021-01-07（早起喝粥）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-02-01-03（玩了两天）">2021-01-02-01-03（玩了两天）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021-01-01（逛了一天）">2021-01-01（逛了一天）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2021"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2021的展望">2021的展望</a></li>
        
            </TimeLineElement>
          </div>
        </BaseLayout>
        