---
        import BaseLayout from "../../../layouts/BaseLayout.astro";
        import TimeLineElement from "../../../components/cv/TimeLine.astro";
        ---
        
        <BaseLayout title="2022">
          <div class="mb-5">
            <div class="text-3xl w-full font-bold">日记</div>
          </div>
        
          <div class="time-line-container mb-10">
            <TimeLineElement
              title="2022-12"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-12-01(命中注定)">2022-12-01(命中注定)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-11"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-11-30(新手机到了)">2022-11-30(新手机到了)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-11-21（都结束了，你还有心情-）">2022-11-21（都结束了，你还有心情-）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-11-01(新月份的开始，幸福的开始)">2022-11-01(新月份的开始，幸福的开始)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-10"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-10-23(还是一样受不了)">2022-10-23(还是一样受不了)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-10-01(真是受不了了)">2022-10-01(真是受不了了)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-09"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-09-11(范同学结婚)">2022-09-11(范同学结婚)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-09-06(加班想走了)">2022-09-06(加班想走了)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-08"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-08-22(细数我俩之间的不愉快)">2022-08-22(细数我俩之间的不愉快)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-08-20_23(取快递，大吵一架，离婚)">2022-08-20_23(取快递，大吵一架，离婚)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-08-15(今天同事结婚)">2022-08-15(今天同事结婚)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-08-08(4号一直到今天都没说话，又提到不高兴的事)">2022-08-08(4号一直到今天都没说话，又提到不高兴的事)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-08-07(看剧-幸福到万家)">2022-08-07(看剧-幸福到万家)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-08-06(最近燃起了一股希望)">2022-08-06(最近燃起了一股希望)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-07"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-07-27(满月宴，吐槽对象家亲戚，cbn)">2022-07-27(满月宴，吐槽对象家亲戚，cbn)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-07-09（今天省考）">2022-07-09（今天省考）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-06"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-30（宝儿出生了）">2022-06-30（宝儿出生了）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-29（宝宝要出生了）">2022-06-29（宝宝要出生了）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-24（用我的gopro拍夕阳）">2022-06-24（用我的gopro拍夕阳）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-19(送西瓜)">2022-06-19(送西瓜)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-18(绝不是我想生气的)">2022-06-18(绝不是我想生气的)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-16(昨天我28了)">2022-06-16(昨天我28了)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-06-04（今天逛）">2022-06-04（今天逛）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-05"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-31(昨天又惹她生气，今天早点回家锻炼)">2022-05-31(昨天又惹她生气，今天早点回家锻炼)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-24(今天买衣服，又生气)">2022-05-24(今天买衣服，又生气)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-22(昨日生气，周日去宏进市场)">2022-05-22(昨日生气，周日去宏进市场)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-20(河滩逛，晚上气)">2022-05-20(河滩逛，晚上气)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-15(昨天吵架今天又是)">2022-05-15(昨天吵架今天又是)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-09(昨夜梦)">2022-05-09(昨夜梦)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-05-01(五一又吵架)">2022-05-01(五一又吵架)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-04"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-23(今天吃烧烤)">2022-04-23(今天吃烧烤)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-21（吵架第五天）">2022-04-21（吵架第五天）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-16(大张买东西撞车)">2022-04-16(大张买东西撞车)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-10(休息，范提前过生日)">2022-04-10(休息，范提前过生日)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-08(周五爷爷生日)">2022-04-08(周五爷爷生日)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-07（河滩跑步）">2022-04-07（河滩跑步）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-03-04-05（清明露营）">2022-04-03-04-05（清明露营）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-04-01-02（接他回来，公司春游）">2022-04-01-02（接他回来，公司春游）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-03"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-29_30（去哄他）">2022-03-29_30（去哄他）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-28(今天理发)">2022-03-28(今天理发)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-24_26瞎折腾，要回家">2022-03-24_26瞎折腾，要回家</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-19-20(去植物园，把橙子滑板蹲坏了)">2022-03-19-20(去植物园，把橙子滑板蹲坏了)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-13-14(去贴膜，奶奶回来了)">2022-03-13-14(去贴膜，奶奶回来了)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-10（买到了xbox-s）">2022-03-10（买到了xbox-s）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-05-06（照思维，买电视，看海豚）">2022-03-05-06（照思维，买电视，看海豚）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-03-04（昨天半夜做梦被范叫醒了）">2022-03-04（昨天半夜做梦被范叫醒了）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-02"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-26-27（今天周日去，买花）">2022-02-26-27（今天周日去，买花）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-23-24(带范回家，没找到不高兴)">2022-02-23-24(带范回家，没找到不高兴)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-20（去少林寺）">2022-02-20（去少林寺）</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-18-19(范回家)">2022-02-18-19(范回家)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-17(今天下雪)">2022-02-17(今天下雪)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-15-16(泉舜nian，被贴单)">2022-02-15-16(泉舜nian，被贴单)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-14(果果生日，送范回家)">2022-02-14(果果生日，送范回家)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-12-13(有了个表，去宝龙)">2022-02-12-13(有了个表，去宝龙)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-11(开工利是)">2022-02-11(开工利是)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-09(放假最后一天)">2022-02-09(放假最后一天)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-06-07-08(初六在家看电影)">2022-02-06-07-08(初六在家看电影)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-04-05(去姑姑家，抓娃娃，-放风筝)">2022-02-04-05(去姑姑家，抓娃娃，-放风筝)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-03(初三，在家学习，出去吃饭)">2022-02-03(初三，在家学习，出去吃饭)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-02-02(初二串亲戚，看花灯)">2022-02-02(初二串亲戚，看花灯)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022-01"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-31－02-01(大年除夕)">2022-01-31－02-01(大年除夕)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-29-30(两年前的今天表白)">2022-01-29-30(两年前的今天表白)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-27-28(试电能跑多远，去串亲戚)">2022-01-27-28(试电能跑多远，去串亲戚)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-25-26(猫请吃饭，提车，串亲戚)">2022-01-25-26(猫请吃饭，提车，串亲戚)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-22-23-24(今天放假-聚餐)">2022-01-22-23-24(今天放假-聚餐)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-19-20(mian-和)">2022-01-19-20(mian-和)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-15-16(去关林，去检查，去河滩)">2022-01-15-16(去关林，去检查，去河滩)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-14(村里核酸，范回家)">2022-01-14(村里核酸，范回家)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-12-13(最angry的一天)">2022-01-12-13(最angry的一天)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-09(给我哥的车保养)">2022-01-09(给我哥的车保养)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-05-06-07(大雁逛，面试，辞)">2022-01-05-06-07(大雁逛，面试，辞)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-04(回门，下雪，独自闲逛)">2022-01-04(回门，下雪，独自闲逛)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-03(去学校拿卷子改)">2022-01-03(去学校拿卷子改)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-02(摘草莓)">2022-01-02(摘草莓)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022-01-01(结婚)">2022-01-01(结婚)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2022"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2022的展望">2022的展望</a></li>
        
            </TimeLineElement>
          </div>
        </BaseLayout>
        