---
        import BaseLayout from "../../../layouts/BaseLayout.astro";
        import TimeLineElement from "../../../components/cv/TimeLine.astro";
        ---
        
        <BaseLayout title="2023">
          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Blog</div>
          </div>
        
          <div class="time-line-container mb-10">
            <TimeLineElement
              title="2023-12"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-31(去宝龙玩)">2023-12-31(去宝龙玩)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-28(想去干点事)">2023-12-28(想去干点事)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-27(做了一个好开心的梦)">2023-12-27(做了一个好开心的梦)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-16(孩子会说鸟)">2023-12-16(孩子会说鸟)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-15(买了小鱼)">2023-12-15(买了小鱼)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-09(考了教资面)">2023-12-09(考了教资面)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-12-07(昨晚做了一个不好的梦)">2023-12-07(昨晚做了一个不好的梦)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-11"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-11-25(昨天回来孩子被接走了)">2023-11-25(昨天回来孩子被接走了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-11-17(太强势了，吵架)">2023-11-17(太强势了，吵架)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-11-11(宝贝学会说话了)">2023-11-11(宝贝学会说话了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-11-08(教资成绩出来了)">2023-11-08(教资成绩出来了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-11-04(骑着新车上班)">2023-11-04(骑着新车上班)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-10"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-31(回来又吵架)">2023-10-31(回来又吵架)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-29(带着宝子去玩)">2023-10-29(带着宝子去玩)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-28(睡不着)">2023-10-28(睡不着)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-27(闲的找活干)">2023-10-27(闲的找活干)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-26(写了一个记日记的脚本)">2023-10-26(写了一个记日记的脚本)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-24(头晕请假，孩子爱滑梯)">2023-10-24(头晕请假，孩子爱滑梯)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-22(还是因为房子)">2023-10-22(还是因为房子)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-21(和同学吃饭)">2023-10-21(和同学吃饭)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-20(好想走)">2023-10-20(好想走)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-19(孩子的眼睛真的大啊)">2023-10-19(孩子的眼睛真的大啊)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-18(昨天下雨范回来了)">2023-10-18(昨天下雨范回来了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-05(扬州南京自驾游)">2023-10-05(扬州南京自驾游)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-10-01(弟结婚)">2023-10-01(弟结婚)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-09"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-09-29(过于自私的一个人)">2023-09-29(过于自私的一个人)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-09-28(孩子真是聪明)">2023-09-28(孩子真是聪明)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-09-07(早起喝药)">2023-09-07(早起喝药)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-09-06(给宝贝买了兔子)">2023-09-06(给宝贝买了兔子)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-08"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-08-29(宝贝会走路了)">2023-08-29(宝贝会走路了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-08-15(刚回来两天要分家)">2023-08-15(刚回来两天要分家)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-07"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-07-31(怎么解决婚后和父母分房问题)">2023-07-31(怎么解决婚后和父母分房问题)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-07-30(无聊逛商场)">2023-07-30(无聊逛商场)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-07-29(锻炼)">2023-07-29(锻炼)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-07-27(泉舜逛开车)">2023-07-27(泉舜逛开车)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-06"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-06-08(中午好吵，没人说，我去说了)">2023-06-08(中午好吵，没人说，我去说了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-06-03(宝沙发掉下来了)">2023-06-03(宝沙发掉下来了)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-05"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-05-28(孩子输液跑针了)">2023-05-28(孩子输液跑针了)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-05-27(吵架抛下病房的孩子)">2023-05-27(吵架抛下病房的孩子)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-05-26(今天在路上有感好喜欢宝贝啊)">2023-05-26(今天在路上有感好喜欢宝贝啊)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-05-25(给孩子买了个玩具)">2023-05-25(给孩子买了个玩具)</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-05-21(孩子生病)">2023-05-21(孩子生病)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-03"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-03-16（范答应我要弟弟了）">2023-03-16（范答应我要弟弟了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-03-11（孩子发烧了）">2023-03-11（孩子发烧了）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-03-10（买房吵架）">2023-03-10（买房吵架）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-03-04(昌河谷)游玩">2023-03-04(昌河谷)游玩</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-02"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-02-28-（昨天跑了5公里）">2023-02-28-（昨天跑了5公里）</a></li>
<li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-02-04（不尊重我）">2023-02-04（不尊重我）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023-01"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023-01-22（就看看今天多霸道）">2023-01-22（就看看今天多霸道）</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2023"
            >
                   <li class="mt-3 mb-3"><a href="https://malanxi.top/blog/2023的展望">2023的展望</a></li>
        
            </TimeLineElement>
          </div>
        </BaseLayout>
        