---
        import BaseLayout from "../../../layouts/BaseLayout.astro";
        import TimeLineElement from "../../../components/cv/TimeLine.astro";
        ---
        
        <BaseLayout title="2025">
          <div class="mb-5">
            <div class="text-3xl w-full font-bold">日记</div>
          </div>
        
          <div class="time-line-container mb-10">
            <TimeLineElement
              title="2025-12"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-12-12(下雪)">2025-12-12(下雪)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-11"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-11-10(登高万安山)">2025-11-10(登高万安山)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-10"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-10-10(游园骑行遇猫)">2025-10-10(游园骑行遇猫)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-10-06(十一结束)">2025-10-06(十一结束)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-09"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-09-01(幼儿园正式开学)">2025-09-01(幼儿园正式开学)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-08"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-08-10(银基自驾，游戏厅中奖)">2025-08-10(银基自驾，游戏厅中奖)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-07"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-07-01(生日上学)">2025-07-01(生日上学)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-06"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-06-17(记孩子病痛和可乐上瘾)">2025-06-17(记孩子病痛和可乐上瘾)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-06-08(买小狗)">2025-06-08(买小狗)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-06-01(端午儿童节快乐)">2025-06-01(端午儿童节快乐)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-05"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-05-25(河边戏水)">2025-05-25(河边戏水)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-05-18(记带娃吃汉堡)">2025-05-18(记带娃吃汉堡)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-04"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-04-20(学会骑车了)">2025-04-20(学会骑车了)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-04-13(大风蹦床)">2025-04-13(大风蹦床)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-03"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-03-22(春游露营)">2025-03-22(春游露营)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025运动健身">2025运动健身</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-01"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-01-29(1.29-2.3春节武汉.深圳.香港旅行)">2025-01-29(1.29-2.3春节武汉.深圳.香港旅行)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-01-24(堆雪人)">2025-01-24(堆雪人)</a></li>
        
            </TimeLineElement>
          </div>
        </BaseLayout>
        