---
        import BaseLayout from "../../../layouts/BaseLayout.astro";
        import TimeLineElement from "../../../components/cv/TimeLine.astro";
        ---
        
        <BaseLayout title="2025">
          <div class="mb-5">
            <div class="text-3xl w-full font-bold">日记</div>
          </div>
        
          <div class="time-line-container mb-10">
            <TimeLineElement
              title="2025-03"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-03-22(春游露营)">2025-03-22(春游露营)</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025运动健身">2025运动健身</a></li>
        
            </TimeLineElement>
<TimeLineElement
              title="2025-01"
            >
                   <li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-01-29(1.29-2.3春节武汉.深圳.香港旅行)">2025-01-29(1.29-2.3春节武汉.深圳.香港旅行)</a></li>
<li class="mt-3 mb-3"><a href="https://blog.malanxi.top/blog/2025-01-24(堆雪人)">2025-01-24(堆雪人)</a></li>
        
            </TimeLineElement>
          </div>
        </BaseLayout>
        