---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import {Image} from "astro:assets";
import {SITE} from "../config";
import data from '/public/douban/movie.json'

const m = data[0].subject.cover_url
---

<BaseLayout title="归档" sideBarActiveItemID="archives">
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">碎笔</div>
    </div>
    <div class="card-container">
        <a href={SITE.website + "/blog/archives/成长日记"}  class="card-link">
            <div class="card">
                <img src="/img/cover/child2.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">成长日记</h2>
                    <p class="card-text">兰汐</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/朝花夕拾"} class="card-link">
            <div class="card">
                <img src="/img/cover/朝花夕拾.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">朝花夕拾</h2>
                    <p class="card-text">朝花夕拾</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/note/archives/notes"}  class="card-link">
            <div class="card">
                <img src="/img/cover/teg.webp" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">技术笔记</h2>
                    <p class="card-text">笔记</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/move"}   class="card-link">
            <div class="card">
                <img src={m} alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">看过的电影</h2>
                    <p class="card-text">已看过电影数（{data.length}）</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/2024"} class="card-link">
            <div class="card">
                <img src="/img/cover/2024.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二四</h2>
                    <p class="card-text">年度词：孩子</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/2023"} class="card-link">
            <div class="card">
                <img src="/img/cover/2023.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二三</h2>
                    <p class="card-text">年度词：成长</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/2022"} class="card-link">
            <div class="card">
                <img src="/img/cover/2022.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二二</h2>
                    <p class="card-text">年度词：家庭</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/2021"} class="card-link">
            <div class="card">
                <img src="/img/cover/2021.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二一</h2>
                    <p class="card-text">年度词：陪伴</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/2020"} class="card-link">
            <div class="card">
                <img src="/img/cover/2020.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二零</h2>
                    <p class="card-text">年度词：工作</p>
                </div>
            </div>
        </a>
        <a href={SITE.website + "/blog/archives/2019"}  class="card-link">
            <div class="card">
                <img src="/img/cover/2019.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零一九</h2>
                    <p class="card-text">年度词：目标</p>
                </div>
            </div>
        </a>
    </div>
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">相册</div>
    </div>
    <div class="card-container">
        <a href="https://photos.app.goo.gl/BRJnpup68WtWKQXo7"  class="card-link">
            <div class="card">
                <img src="/img/cover/child2.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">孩子</h2>
                </div>
            </div>
        </a>
        <a href="https://photos.app.goo.gl/pqPnNBxxSL63T4wXA" class="card-link">
            <div class="card">
                <img src="/img/cover/footer.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">足迹</h2>
                </div>
            </div>
        </a>
        <a href="https://photos.app.goo.gl/wmWsr1Nxtf75Uz8R8" class="card-link">
            <div class="card">
                <img src="/img/cover/640.webp" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">健身</h2>
                </div>
            </div>
        </a>
    </div>

</BaseLayout>
