---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import {Image} from "astro:assets";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <br/>
    <br/>
    <div class="card-container">
        <a href="http://mxz94.asia/note/archives/2024" class="card-link">
            <div class="card">
                <img src="/img/cover/2024.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二四</h2>
                    <p class="card-text">相关内容</p>
                </div>
            </div>
        </a>
        <a href="http://mxz94.asia/note/archives/2023" class="card-link">
            <div class="card">
                <img src="/img/cover/2023.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二三</h2>
                    <p class="card-text">相关内容</p>
                </div>
            </div>
        </a>
        <a href="http://mxz94.asia/note/archives/2022" class="card-link">
            <div class="card">
                <img src="profile.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二二</h2>
                    <p class="card-text">相关内容</p>
                </div>
            </div>
        </a>
        <a href="http://mxz94.asia/note/archives/2021" class="card-link">
            <div class="card">
                <img src="profile.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二一</h2>
                    <p class="card-text">相关内容</p>
                </div>
            </div>
        </a>
        <a href="http://mxz94.asia/note/archives/2020" class="card-link">
            <div class="card">
                <img src="profile.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零二零</h2>
                    <p class="card-text">相关内容</p>
                </div>
            </div>
        </a>
        <a href="http://mxz94.asia/note/archives/2019"  class="card-link">
            <div class="card">
                <img src="profile.jpg" alt="Image description" class="card-img">
                <div class="card-body">
                    <h2 class="card-title">二零一九</h2>
                    <p class="card-text">相关内容</p>
                </div>
            </div>
        </a>
    </div>


</BaseLayout>
