---
import Layout from "../layouts/Layout.astro";


const response = await fetch('http://localhost:4321/api/chat');
// const data = response.json()
---

<Layout title="dashboard">
    <p>We are happy to see you here</p>
    <form action="/api/chat">
        <button type="submit">Sign out</button>
    </form>
    <a href="/todo/index.html">todo</a>
</Layout>