---
import BaseLayout from "../layouts/BaseLayout.astro";
import ActivityList from "../components/ActivityList";
---
<BaseLayout title="运动记录" sideBarActiveItemID="runlog">
    <!--<div class="mb-5">-->
    <!--    <div class="text-3xl w-full font-bold">运动记录</div>-->
    <!--</div>-->
    <ActivityList client:load />
</BaseLayout>