---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">首页</a></li>
    <li><a class="py-3 text-base" id="note" href="/note">笔记</a></li>
    <li><a class="py-3 text-base" id="blog" href="/blog/">日记</a></li>
    <li><a class="py-3 text-base" id="archives" href="/archives">归档</a></li>
    <li><a class="py-3 text-base" id="tags" href="/tags">标签</a></li>
    <li><a class="py-3 text-base" id="chat" href="/chat">留言</a></li>
    <li><a class="py-3 text-base" id="cv" href="/cv">关于</a></li>
    <!--<li><a class="py-3 text-base" id="move" href="/move">书影音</a></li>-->
    <!--<li><a class="py-3 text-base" id="lifemap" href="/lifemap">人生地图</a></li>-->
    <!--<li>-->
    <!--    <a-->
    <!--        class="py-3 text-base"-->
    <!--        href="mailto:contact.manuelernestog@gmail.com"-->
    <!--        target="_blank"-->
    <!--        referrerpolicy="no-referrer-when-downgrade">Contact</a-->
    <!--    >-->
    <!--</li>-->
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
