---
export interface Props {
  name: string;
  size?: "sm" | "lg";
  count?: number;
}

const { name, size = "sm", count } = Astro.props;
const url = name.startsWith("20") || name.startsWith("展望") || name.startsWith("朝花夕拾") || name.startsWith("梦") ? "blog" : "note"
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tag/${name.toLowerCase()}`}
    transition:name={name.toLowerCase()}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    <span>#{name.toLowerCase()}</span>{count != undefined ? "(" + count + ")" : ""}
  </a>
</li>

<style>
  a {
    @apply relative underline decoration-dashed hover:-top-0.5  focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95  opacity-80 ;
  }
</style>
